.dontStock{
  z-index: 999;
  position: relative;
  background:red;
  color:#FFF;
  padding:10px 20px;
  font-weight: bold;
  top:45%;
}
.subCategorys{
  width: 100%;
  float: left;
  /* clear: both; */
  border-bottom: 1px solid #DDD;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  text-align: center;
}
.subCategorys ul{
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width: 100%;
}
.subCategorys ul li{
  display: inline-block;
}
.subCategorys ul li a{
  font-size: 13px;
  padding: 4px 12px;
  border: 2px solid #000;
  color: #000;
  margin: 0 5px;
  float:left;
}

.celastislide-list li{border:2px solid transparent; margin:.5em 0;}
.celastislide-list li a{cursor:pointer;}
.celastislide-list li a img{width:90%; display:block; margin:auto;}
.celastislide-list li:hover a img{border:2px solid #CCC;}
.sitemap ul{list-style: inside;}
.sitemap ul > li{padding:.2em;}
.sitemap ul > li > ul{padding:.3em 1em;}
.sitemap ul > li > ul > li > ul{padding:.3em 1.75em;}

.margin5px{margin:5px 0;}
.productTags{
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  padding: 18px 0;
  margin: 25px 0;
  font-size:12px;
  color:#717171;
  width: 100%;
  float: left;
}
.simuParcelar{width:100%; clear:both; margin-bottom: 1em}
.simuParcelar button{border: 0;background: none;width: 110px;float: left;margin: .5em;}
.table-parcelamento{margin:.5em;}
.table-parcelamento tbody tr td{padding:5px 10px !important;}
.table-parcelamento thead tr th{padding:5px !important;}

.share-button-group{float:left; margin:10px 0;}

.boxPayments{width:100%; float:left;}
.boxPayments ul{margin:0; padding:0; float:left; width:100%; list-style: none;}
.boxPayments ul li{display: inline-block}
.boxPayments ul li img{width:60px; float:left; margin:3px;}

.contact-details-list{margin:0; padding:0; list-style: none;}
.contact-details-list ul{margin:0; padding:0; list-style: none;}
.contact-details-list > li {
  position: relative;
  padding-left:45px;
  font-size:14px;
  font-weight: bold;
  line-height:25px;
  color:#797878;
  margin-bottom:1.5em;
}
.contact-icon {
  position: absolute;
  left:0;
  top:50%;
  display:block;
  margin-top:-18px;
  width:36px;
  height:36px;
  background-color:#37adef;
  background-repeat: no-repeat;
  border:1px solid #37adef;
  border-radius:2px;
  text-align:center;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0, 0.15);
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0, 0.15);
}

.contact-icon .fa{color:#FFF; font-size:18px; line-height:35px;}
.contact-icon.contact-icon-phone {background-position: -288px 0;}
.contact-icon.contact-icon-mobile { background-position: -322px 0;}
.contact-icon.contact-icon-email { background-position: -288px -34px;}
.contact-icon.contact-icon-skype {  background-position: -322px -34px;}
#contact-form .input-group-addon{ min-width:100px;}

.ulRadiosCss {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ulRadiosCss:after {
  content: "";
  clear: both;
}

.ulRadiosCss li {
  display: block;
  width:100%;
  float:left;
}

.ulRadiosCss li div label {
  font-size:14px;
  padding: 10px;
  font-weight: 400;
  border: 1px solid #D1D3D4;
  background:#f9f9f9;
}

.ulRadiosCss li div input{display:none;}
/* style label */
.ulRadiosCss li input:empty ~ label {
  position: relative;
  float: left;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* toggle hover */
.ulRadiosCss li input:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.ulRadiosCss li input:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
.ulRadiosCss li input:checked ~ label:before {
  content:'\2714';
}



/* radio focus */
.ulRadiosCss li input:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}
.ulRadiosCss li div label .label{
  position: absolute;
  top: -2px;
  right: -6px;
  padding: 5px;
  font-size:8px;
}



.boxRadios {
  list-style: none;
  margin: 0;
  padding: 0;
}

.boxRadios:after {
  content: "";
  clear: both;
}

.boxRadios li {
  float: left;
}

.boxRadios li + li {
  margin-left: 12px;
}


.boxRadios li div label {
  font-size:14px;
}
.boxRadios li label div {
    padding: 10px;
    border: 1px solid #ddd;
}

.boxRadios li div input{display:none !important;}
/* style label */
.boxRadios li input:empty ~ div {
  position: relative;
  float: left;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* toggle hover */
.boxRadios li input:hover:not(:checked) ~ div:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.boxRadios li input:hover:not(:checked) ~ div {
  color: #888;
}

/* toggle on */
.boxRadios li input:checked ~ div:before {
  content:'\2714';
}

/* radio focus */
.boxRadios li input:focus ~ div:before {
  box-shadow: 0 0 0 3px #999;
}
.boxRadios li div label .label{
  position: absolute;
  top: -2px;
  right: -6px;
  padding: 5px;
  font-size:8px;
}




.boxChecks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.boxChecks:after {
  content: "";
  clear: both;
}

.boxChecks li {
  float: left;
}

.boxChecks li + li {
  margin-left: 12px;
}


.boxChecks li div label {
  font-size:14px;
}
.boxChecks li label div {
    padding: 10px;
    border: 1px solid #ddd;
}

.boxChecks li div input{display:none !important;}
/* style label */
.boxChecks li input:empty ~ div {
  position: relative;
  float: left;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* toggle hover */
.boxChecks li input:hover:not(:checked) ~ div:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.boxChecks li input:hover:not(:checked) ~ div {
  color: #888;
}

/* toggle on */
.boxChecks li input:checked ~ div:before {
  content:'\2714';
}

/* radio focus */
.boxChecks li input:focus ~ div:before {
  box-shadow: 0 0 0 3px #999;
}
.boxChecks li div label .label{
  position: absolute;
  top: -2px;
  right: -6px;
  padding: 5px;
  font-size:8px;
}

.ulRadiosCssFilter {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ulRadiosCssFilter:after {
  content: "";
  clear: both;
}

.ulRadiosCssFilter li {
  float: left;
  margin-left: 12px;
}


.ulRadiosCssFilter li div label {
  font-size:14px;
  padding: 10px;
  border: 1px solid #D1D3D4;
  background:#f9f9f9;
}

.ulRadiosCssFilter li div input{display:none;}
/* style label */
.ulRadiosCssFilter li input:empty ~ label {
  position: relative;
  float: left;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* toggle hover */
.ulRadiosCssFilter li input:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.ulRadiosCssFilter li input:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
.ulRadiosCssFilter li input:checked ~ label:before {
  content:'\2714';
}



/* radio focus */
.ulRadiosCssFilter li input:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}
.ulRadiosCssFilter li div label .label{
  position: absolute;
  top: -2px;
  right: -6px;
  padding: 5px;
  font-size:8px;
}





.ulCheckCss {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ulCheckCss:after {
  content: "";
  clear: both;
}

.ulCheckCss li {
  float: left;
}

.ulCheckCss li + li {
  margin-left: 12px;
}


.ulCheckCss li div label {
  font-size:14px;
  padding: 10px;
  border: 1px solid #D1D3D4;
  background:#f9f9f9;
}

.ulCheckCss li div input{display:none;}
/* style label */
.ulCheckCss li input:empty ~ label {
  position: relative;
  float: left;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* toggle hover */
.ulCheckCss li input:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.ulCheckCss li input:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
.ulCheckCss li input:checked ~ label:before {
  content:'\2714';
}



/* radio focus */
.ulCheckCss li input:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}
.ulCheckCss li div label .label{
  position: absolute;
  top: -2px;
  right: -6px;
  padding: 5px;
  font-size:8px;
}


#product .alert.alert-danger {
  float: left;
  width: 95%;
  padding: 11px;
  line-height: 100%;
  text-align: center;
  margin: 10px;
}
.prodDetail .help-block a{
  font-size: 10px;
  letter-spacing: 0;
  padding: 10px;
}

#address .help-block{
  font-size: 11px;
  padding-left: 20px;
}

.required .input-text:before {
  color: red;
  content: '*';
  padding: 0 5px 0 0;
}

.form-group .has-error{border-width:1px; border-style:solid;}

/* Fix some bootstrap issues */

span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {

	display: inline;

}



/* fixed colum left + content + right*/

@media (min-width: 768px) {

  #column-left  .product-layout .col-md-3{

   width: 100%;

 }

 #column-left + #content .product-layout .col-md-3 {

   width: 50%;

 }

 #column-left + #content + #column-right .product-layout .col-md-3{

   width: 100%;

 }

 #content + #column-right .product-layout .col-md-3{

   width: 100%;

 }

}
