{{ header }}
<div id="product-search" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<div class="heading-page">
				<h1 class="title">{{ heading_title }}</h1>
			</div>
			<label class="control-label" for="input-search">{{ entry_search }}</label>
			<div class="row">
				<div class="col-sm-4">
					<input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control"/>
				</div>
				<div class="col-sm-3">
					<select name="category_id" class="form-control">
						<option value="0">{{ text_category }}</option>
						{% for category_1 in categories %}
							{% if category_1.category_id == category_id %}
								<option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
							{% else %}
								<option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
							{% endif %}
							{% for category_2 in category_1.children %}
								{% if category_2.category_id == category_id %}
									<option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
								{% else %}
									<option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
								{% endif %}
								{% for category_3 in category_2.children %}
									{% if category_3.category_id == category_id %}
										<option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
									{% else %}
										<option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
									{% endif %}
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-3">
					<label class="checkbox-inline">
						{% if sub_category %}
							<input type="checkbox" name="sub_category" value="1" checked="checked"/>
						{% else %}
							<input type="checkbox" name="sub_category" value="1"/>
						{% endif %}
						{{ text_sub_category }}</label>
				</div>
			</div>
			<p>
				<label class="checkbox-inline">
					{% if description %}
						<input type="checkbox" name="description" value="1" id="description" checked="checked"/>
					{% else %}
						<input type="checkbox" name="description" value="1" id="description"/>
					{% endif %}
					{{ entry_description }}</label>
			</p>
			<input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary"/>
			<hr class="invisible">
			<div class="heading-page">
				<h3>{{ text_search }}</h3>
			</div>
			{% if products %}
				<div class="category-options">
					<div class="pull-right">
						<b>Exibir por:</b>
						<br>
						<div class="btn-group btn-group-sm">
							<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}">
								<i class="fa fa-th-list"></i>
								<span class="hidden-xs">Lista</span>
							</button>
							<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}">
								<i class="fa fa-th"></i>
								<span class="hidden-xs">Grade</span>
							</button>
						</div>
						<select id="input-limit" class="form-control select-quantity" onchange="location = this.value;" data-toggle="tooltip" title="Quantidade a exibir">
							{% for limits in limits %}
								{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
								{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="pull-right">
						<b>Ordenar por:</b>
						<br>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							{% for sorts in sorts %}
								{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
								{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="pull-left">{{ results }}</div>
				</div>
				<div class="row">
					{% for product in products %}
						<div class="product-layout product-list col-xs-12">
							<div class="product-thumb transition">
								<div class="image">
									{% if product.valor_desconto %}
									<span class="badge badge-danger badge-desconto">{{product.valor_desconto}}%</span>
									{% endif %}
									<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/></a>
									<button type="button" class="btn-wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
										<i class="fa fa-heart"></i>
									</button>
								</div>
								<div class="caption">
									<h4>
										<a href="{{ product.href }}">{{ product.name }}</a>
									</h4>
									{% if product.rating %}
										<div class="rating">
											{% for i in 1..5 %}
												{% if product.rating < i %}
													<span class="fa fa-stack">
														<i class="fa fa-star-o fa-stack-2x"></i>
													</span>
												{% else %}
													<span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
														<i class="fa fa-star-o fa-stack-2x"></i>
													</span>
												{% endif %}
											{% endfor %}
											{% if product.rating %}
												({{ product.rating }})
											{% endif %}
										</div>
									{% endif %}
									{% if product.price %}
										{% if product.price == 'R$ 0,00' %}
											<div class="price">
												<ul>
													<li>
														<span class="price-current">
															<small>Sob-consulta</small>
														</span>
													</li>
												</ul>
											</div>
										{% else %}
											<div class="price">
												<ul>
													{% if not product.special %}
														<li>
															<span class="price-current">{{ product.price }}</span>
														</li>
													{% else %}
														<li>
															<span class="price-old">{{ product.price }}</span>
														</li>
														<li>
															<span class="price-new">{{ product.special }}</span>
														</li>
													{% endif %}
												</ul>
											</div>
										{% endif %}
									{% endif %}
									{% if not product.quantity %}
										<div class="alert alert-danger alert-stock">Sem estoque</div>
									{% endif %}
									<div class="button-group">
										<a href="{{ product.href }}">
											<span class="">{{ button_conferir }}</span>
										</a>
									</div>
									{% if not product.shipping %}
											<div class="shipping-grid">
												<img src="/_galerias/shipping/frete_gratis_gif.gif" alt="Frete Grátis"
													class="img-responsive m-3">
											</div>
											{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col-sm-6 text-left">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
				</div>
			{% else %}
				<p>{{ text_empty }}</p>
			{% endif %}
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
<script
	type="text/javascript">
	<!--
	$('#button-search').bind('click', function () {
url = 'index.php?route=product/search';

var search = $('#content input[name=\'search\']').prop('value');

if (search) {
url += '&search=' + encodeURIComponent(search);
}

var category_id = $('#content select[name=\'category_id\']').prop('value');

if (category_id > 0) {
url += '&category_id=' + encodeURIComponent(category_id);
}

var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

if (sub_category) {
url += '&sub_category=true';
}

var filter_description = $('#content input[name=\'description\']:checked').prop('value');

if (filter_description) {
url += '&description=true';
}

location = url;
});

$('#content input[name=\'search\']').bind('keydown', function (e) {
if (e.keyCode == 13) {
$('#button-search').trigger('click');
}
});

$('select[name=\'category_id\']').on('change', function () {
if (this.value == '0') {
$('input[name=\'sub_category\']').prop('disabled', true);
} else {
$('input[name=\'sub_category\']').prop('disabled', false);
}
});

$('select[name=\'category_id\']').trigger('change');--></script>
{{ footer }}
