<div class="buttons">

  <div class="pull-left">

    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-purple" />

  </div>

</div>

<script type="text/javascript"><!--

$('#button-confirm').on('click', function() {

	$.ajax({ 

		type: 'get',

		url: 'index.php?route=payment/pagseguro/confirm',

		cache: false,

		beforeSend: function() {

			$('#button-confirm').button('loading');

		},

		complete: function() {

			$('#button-confirm').button('reset');

		},		

		success: function() {

			<?php if($url){ ?>

			location = '<?php echo $url; ?>';

			<?php } else { ?>

			alert('Erro de acesso no PagSeguro. Para mais detalhes, verifique o log de erros do OpenCart.');

			<?php } ?>

		},

		error: function(xhr, ajaxOptions, thrownError) {

			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);

		}

	});

});

//--></script> 

