<header class="head familyOs">
  <h2><?php echo $heading_title; ?></h2>
</header>
<div class="container">
  <ul class="products item-back-display style3 col-grid-4 space-30 clearfix">
    <?php foreach ($products as $product) { ?>
    <li class="product text-center">
      <div class="productImages">
        <?php if ($product['quantity'] <= '0') { ?>
        <span class="dontStock"><?php echo $text_instock; ?></span>
        <?php } ?>
        <div class="image-default"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>"></a></div>
      </div>
      <div class="productInfo">
        <h3><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h3>
        <?php if ($product['price']) { ?>
        <div class="parcelamento">
          <?php if (!$product['special']) { ?>
          <?php $preco_sem_sinal = str_replace(',','.',str_replace('.','', str_replace("R$","",$product['price']))); ?>
          <?php } else { ?>
          <?php $preco_sem_sinal = str_replace(',','.',str_replace('.','', str_replace("R$","",$product['special']))); ?>
          <?php } ?>
          <?php              
          $valor = $preco_sem_sinal;
          $max = '9,60';
          $var = parcelamentoRandom($valor,$max);
          echo $var;
          ?>
        </div>

        <ul class="pricestyle">
          <?php if (!$product['special']) { ?>
          <li><span class="priceReal">ou <?php echo $product['price']; ?></span></li>
          <?php } else { ?>
          <li><strike><?php echo $product['price']; ?></strike></li>
          <li><span class="priceReal"><?php echo $product['special']; ?></span></li>
          <?php } ?> 
        </ul>

        <?php } ?>
        <?php if (!$product['quantity'] <= '0') { ?>
        <div class="btn-group btn-group-justified" role="group">

          <div class="btn-group" role="group">
            <button type="submit" class="add_to_cart_button btn btn-purple" data-toggle="tooltip" title="<?php echo $button_cart; ?>" onclick="cart.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-shopping-cart"></i> <?php echo $button_cart; ?></button>
          </div>

        </div>
        <?php }else{ ?>
        <ul class="linksBotoes">            
          <li><button type="submit" class="add_to_cart_button" id="btnNotification" data-toggle="tooltip" title="<?php echo $button_visit; ?>" onclick="location.href='<?php echo $product['href']; ?>#content';"><i class="fa fa-shopping-cart"></i> <?php echo $button_visit; ?></button></li>           
        </ul>


        <?php } ?>

        <?php  if ($product['shipping'] == 0) {echo "<img src='catalog/view/images/frete_gratis_gif.gif' alt='' style='width:110px; border-radius:5px; margin:.5em auto;' />";}?>
      </div>
    </li>
    <?php } ?>
  </ul>
  <a href="/aliancas" class="btn btn-purple pull-left"><i class="fa fa-plus"></i> Veja mais produtos</a>
</div>