<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-avista" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1><?php echo $heading_title; ?></h1>
			<ul class="breadcrumb">
				<?php foreach ($breadcrumbs as $breadcrumb) { ?>
				<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<?php if ($error_warning) { ?>
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<?php } ?>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
			</div>
			<div class="panel-body">
				<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-avista" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-avista-methods"><?php echo $entry_methods; ?></label>
						<div class="col-sm-10">
							<input type="text" name="avista_methods" class="form-control" value="<?php echo $avista_methods; ?>" /> <?php echo $help_methods; ?>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-avista-total"><?php echo $entry_total; ?></label>
						<div class="col-sm-10">
							<input type="text" name="avista_total" class="form-control" value="<?php echo $avista_total; ?>" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-avista-total-pedido"><?php echo $entry_pedido_total; ?></label>
						<div class="col-sm-10">
							<input type="text" name="avista_total_pedido" class="form-control" value="<?php echo $avista_total_pedido; ?>" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-avista-status"><?php echo $entry_status; ?></label>
						<div class="col-sm-10">
							<select name="avista_status" class="form-control">
								<?php if ($avista_status) { ?>
								<option value="1" selected="selected"><?php echo $text_enabled; ?></option>
								<option value="0"><?php echo $text_disabled; ?></option>
								<?php } else { ?>
								<option value="1"><?php echo $text_enabled; ?></option>
								<option value="0" selected="selected"><?php echo $text_disabled; ?></option>
								<?php } ?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-avista-sort-order"><?php echo $entry_sort_order; ?></label>
						<div class="col-sm-10">
							<input type="text" name="avista_sort_order" class="form-control" value="<?php echo $avista_sort_order; ?>" size="1" />
							<span class="help-block">Manter na Ordem "4"</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<?php echo $footer; ?>
