<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
  <link href="view/stylesheet/bootstrap.css" type="text/css" rel="stylesheet" />
  <link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <script src="view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
  <script src="view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
  <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <link type="text/css" href="view/stylesheet/stylesheet.css?6" rel="stylesheet" media="screen" />
  <link href="/image/catalog/favicon.ico?1" rel="icon" />
  {% for style in styles %}
  <link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  <script src="view/javascript/common.js" type="text/javascript"></script>
  {% for script in scripts %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

  <script src="../catalog/view/javascript/jquery/jquery.mask.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function(){    
    $(".maskPhone, #input-telephone").mask("(99) 99999-9999");
    $(".maskPhone").on("blur", function() {
      var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

      if( last.length == 3 ) {
        var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
        var lastfour = move + last;
        var first = $(this).val().substr( 0, 9 );

        $(this).val( first + '-' + lastfour );
      }
    });

    $("#input-price, .inputValuePrice, #form-payment #input-total, #form-shipping #input-cost, #form-shipping #input-total").mask('#####.##', {reverse: true});
    $('#input-custom-field1').mask('000.000.000-00', {reverse: true});
  });
  </script>
  <script type="text/javascript" src="view/javascript/stringToSlug/jquery.stringToSlug.min.js"></script>
  <script type="text/javascript" src="view/javascript/stringToSlug/speakingurl.js"></script>

</head>
<body>
  <div id="container">
    <header id="header" class="navbar navbar-static-top">
      <div class="container-fluid">


        <div id="header-logo" class="navbar-header"><a href="{{ home }}" class="navbar-brand"><img src="view/image/logo.png" alt="{{ heading_title }}" title="{{ heading_title }}" /></a></div>
        {% if logged %}<a href="#" id="button-menu" class="hidden-md hidden-lg"><span class="fa fa-bars"></span></a>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ image }}" alt="{{ firstname }}" title="{{ firstname }}" id="user-profile" class="img-circle" />{{ firstname }} <i class="fa fa-caret-down fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="{{ profile }}"><i class="fa fa-user-circle-o fa-fw"></i> {{ text_profile }}</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">{{ text_store }}</li>
              {% for store in stores %}
              <li><a href="{{ store.href }}" target="_blank">{{ store.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{{ logout }}"><i class="fa fa-sign-out"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_logout }}</span></a></li>
        </ul>
        {% endif %} </div>
      </header>
