html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; }
mark { background-color: rgb(255, 255, 153); color: rgb(0, 0, 0); font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0px; }
hr { display: block; height: 1px; border-width: 1px 0px 0px; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image: initial; border-top-style: solid; border-top-color: rgb(204, 204, 204); margin: 1em 0px; padding: 0px; }
input, select { vertical-align: middle; }
li { list-style: none; }
html, body { width: 100%; height: 100%; background: rgb(17, 17, 17); }
html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { font: 75% Arial, Helvetica, sans-serif; }
canvas { display: block; vertical-align: bottom; }
#body { position: absolute; z-index: 2; width: 100%; top: 20%; }
.wrap { width: 60%; margin: 0px auto; }
.content { background: rgb(248, 249, 244); padding: 20px; text-align: center; color: rgb(0, 0, 0); border-radius: 10px; }
.content h1 { font-size: 35px; line-height: 72px; }
.content h2 { font-size: 19px; line-height: 66px; }
.content p { font-size: 17px; line-height: 28px; }
.content img { width: 200px; }
.count-particles { background: rgb(0, 0, 34); position: absolute; top: 48px; left: 0px; width: 80px; color: rgb(19, 232, 233); font-size: 0.8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
.js-count-particles { font-size: 1.1em; }
#stats, .count-particles { user-select: none; margin-top: 5px; margin-left: 5px; }
#stats { border-radius: 3px 3px 0px 0px; overflow: hidden; }
.count-particles { border-radius: 0px 0px 3px 3px; }
#particles-js { position: absolute; z-index: 1; width: 100%; height: 100%; background-color: rgb(51, 51, 51); background-image: url(""); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }
ul{margin:0;padding:0;}
ul li{padding:0 0 15px 0; font-size:15px;}
a{color:#000}