{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}"
          class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
            class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module"
          class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name"
                class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="tab-pane">
            <ul class="nav nav-tabs" id="language">
              {% for language in languages %}
              <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img
                    src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{
                  language.name }}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for language in languages %}
              <div class="tab-pane" id="language{{ language.language_id }}">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title
                    }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="module_description[{{ language.language_id }}][title]"
                      placeholder="{{ entry_title }}" id="input-heading{{ language.language_id }}"
                      value="{{ module_description[language.language_id] ? module_description[language.language_id].title }}"
                      class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{
                    entry_description }} <br><br> <a href="javascript:;" class="btn btn-sm btn-primary"
                      data-toggle="modal" data-target="#exampleModal">Componentes</a> </label>
                  <div class="col-sm-10">
                    <textarea name="module_description[{{ language.language_id }}][description]"
                      placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}"
                      data-toggle="summernote"
                      class="form-control">{{ module_description[language.language_id] ? module_description[language.language_id].description }}</textarea>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Componentes para Layout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><b>Instruções para o uso:</b> Clique para copiar o código desejado e automaticamente irá colar no campo de
            <b>Descrição</b>.
          </p>
          <p><b class="text-danger">Obrigatório:</b> Para melhor utilização entre em contato com o suporte.
          </p>

          <div class="row">
            <div class="col-sm-12">
              <h4>Faixa de Informações <button type="button" class="btn btn-sm btn-primary"
                  onclick="CopyToClipboard('faixa_informacoes')" data-section-target="faixa_informacoes"
                  data-toggle="tooltip" title="Copiar código abaixo"><i class="fa fa-copy"></i></button></h4>

              <img src="./../_galerias/auxiliares/help_html_faixa_informacoes.png" alt="" class="img-responsive">

              <pre id="faixa_informacoes" class="pre_help hide">
              <div class="container">
              <div class="row banners-selos clearfix">
              <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="icon-selos"><i class="fa fa-truck"></i></div>
              <div>
              <h2>Frete grátis</h2>
              <p>acima de R$ 299,00</p>
              </div><!-- -->
              </div><!-- col-md-3 -->
              <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="icon-selos"><i class="fa fa-credit-card"></i></div>
              <div>
              <h2>Pagamento Fácil</h2>
              <p>Suas Compras em Até 12X.</p>
              </div><!-- -->
              </div><!-- col-md-3 -->
              <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="icon-selos"><i class="fa fa-shield"></i></div>
              <div>
              <h2>Compra Segura</h2>
              <p>Ambiente seguro e certificado</p>
              </div><!-- -->
              </div><!-- col-md-3 -->
              </div>
              </div>
              </pre>
            </div><!-- col-12 -->

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <h4>Seção com 2 Box de Imagens <button type="button" class="btn btn-sm btn-primary"
                  onclick="CopyToClipboard('box_2_imagens')" data-section-target="box_2_imagens" data-toggle="tooltip"
                  title="Copiar código abaixo"><i class="fa fa-copy"></i></button></h4>

              <img src="./../_galerias/auxiliares/help_html_box_2_imagens.png" alt="" class="img-responsive">

              <pre id="box_2_imagens" class="pre_help hide">
              <div class="container html-banners">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <a href="/laptops-e-notebooks"><img src="./image/catalog/banners/box_1.png"
                        alt="Laptops &amp; Notebooks com Promoção" class="img-responsive"></a>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <a href="/cameras"><img src="./image/catalog/banners/box_2.png" alt="Cameras com Promoção"
                        class="img-responsive"></a>
                  </div>
                </div>
              </div>
              </pre>
            </div><!-- col-12 -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>


  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>

  <script type="text/javascript" src="view/javascript/summernote/summernote.js?{{random()}}"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript">
    $('#language a:first').tab('show');
    $(document).ready(function () {
      $('.btn-codeview').html('<i class="note-icon-code" style="margin-right:5px;"></i> <b>Código-Fonte</b>');
    });
//--></script>

  <script type="text/javascript">
    function CopyToClipboard(containerid) {
      if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select().createTextRange();
        document.execCommand("copy");
      } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
        var documentFragment = $('#' + containerid).html();
        console.log(documentFragment);
        $('.note-editable.panel-body').html(documentFragment);
        document.execCommand("copy");

        alert("Texo copiado. Cole dentro do campo Descrição.")
      }
    }
//--></script>
</div>
{{ footer }}